page-info {
    .informacion {
        text-align: center;
        background-image: url("../../assets/imgs/fondo.png");
    }
    .info-imagen {
        margin-top: 2%;
        margin-bottom: 2%;
    }
}
